.quiz-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    min-width: 80vw;
    min-height: 50vh;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 80px rgba(0,0,0,1);
}

.quiz-page.result-page .logo {
    width: 400px;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
}

.quiz-page.result-page {
    min-width: 30vw;
    min-height: 50vh;
}

.number-champion {
    font-size: 35px;
}


.question-container {
    font-size: 60px;
    text-align: center;
    background: -webkit-linear-gradient(#C89B3C,#785A28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error-status {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.answer-container {
    display: flex;
    column-gap: 50px;
}

button {
    color: white;
    background-color: rgb(30,40,45);
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, #785A28, #C89B3C) 1;
    border-radius: 1px;
}



/* .answer {
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    height: 60px;
    width: 200px;
} */

.answer::first-letter {
    text-transform: uppercase;
}


.answer {
    background-image: linear-gradient(to top, rgb(3, 151, 171),rgb(30,40,45));
    border-width: 1px;
    border-style: solid;

    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    width: 150px;

    border-image: none;
    border-color: rgb(10, 200, 185);
    border-radius: 4px;

    transition: 0.3s;
}

.answer:hover {
    scale: 1.04;
}

.answer.is-checked {
    border-color: rgb(205, 250, 250);
    box-shadow: 0 0 15px rgb(205, 250, 250);
    background-image: linear-gradient(to top, rgb(10, 200, 185),rgb(3, 151, 171),rgb(30,40,45));
}

/* .answer span {
    position: relative;
    z-index: 10;
} */




.skip-button:hover,
.buttons button:hover {
    cursor: pointer;
    border-color: rgb(200, 170, 110);
    transform: scale(1.05);
}

.skip-button:active,
.buttons button:active {
    transform: scale(1.025);
    border-color: rgb(240, 230, 210);
}

.buttons {
    display: flex;
    column-gap: 50px;
    margin-top: 30px;
}

button {
    font-size: 18px;
    height: 50px;
    width: 150px;
}


.champion-name {
    font-size: 30px;
}

.result-container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    column-gap: 50px;
    row-gap: 10px;
}

.result-container.flex {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.result {
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: 0.2s;
}

.result a {
    font-size: 30px;
}

.result:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.result img {
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 480px) {
    .quiz-page {
        row-gap: 10px;
        padding: 10px;
        width: 100vw;
    }

    .logo {
        width: 300px;
    }

    .quiz-page.result-page .logo {
        width: 300px;
        margin-bottom: 10px;
    }

    .number-champion {
        font-size: 25px;
    }

    .question-container {
        font-size: 30px;
    }

    .answer-container {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .answer {
        padding-left: 15px;
        font-size: 16px;
        height: 50px;
        width: 150px;
        overflow: hidden;
    }

    .buttons {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
    }
    
    button {
        font-size: 18px;
        height: 50px;
        width: 100px;
    }


    .champion-name {
        font-size: 20px;
    }
    
    .result-container {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        row-gap: 10px;
    }
    
    .result {
        column-gap: 15px;
    }

    .result a {
        font-size: 20px;
    }

    .result img {
        width: 50px;
        height: 50px;
    }
    
}