.random-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    padding: 30px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 80px rgba(0,0,0,1);
}

.logo {
    width: 400px;
}


.buttons button {
    color: white;
    background-color: rgb(30,40,45);
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, #785A28, #C89B3C) 1;
    border-radius: 1px;

    font-size: 18px;
    height: 50px;
    width: 150px;
}

.buttons button:hover {
    cursor: pointer;
    border-color: rgb(200, 170, 110);
    transform: scale(1.05);
}

.buttons button:active {
    transform: scale(1.025);
}

.buttons button:active {
    border-color: rgb(240, 230, 210);
}

.buttons {
    display: flex;
    column-gap: 50px;
    margin-top: 30px;
}

.wheel-container {
    position: relative;
}



.wheel-container.result {
    animation-name: shadow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
  }
  
@keyframes shadow {
    0% {
        box-shadow: none;
    }
    20% {
        box-shadow: 0 0 8px 8px #0AC8B9;
    }
    40% {
        box-shadow: none;
    }
    60% {
        box-shadow: 0 0 8px 8px #0AC8B9;
    }
    80% {
        box-shadow: none;
    }
    90% {
        box-shadow: 0 0 8px 8px #0AC8B9;;
    }
    100% {
        box-shadow: 0 0 6px 6px #0AC8B9;
    }
}

.wheel-container.finish {
    box-shadow: 0 0 6px 6px #0AC8B9;
}





.wheel {
    width: 20vw;
    height: 40vh;

    background-color: rgb(1, 10, 19);
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, #785A28, #C89B3C) 1;
    border-radius: 1px;

    

    overflow: hidden;
}

.cursor {
    position: absolute;

    z-index: 10;

    top: 45%;
    right: -5%;

    width: 70px;
}

.champion-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 8px;

    transition: ease-in-out 5s;
}



.champion {
    width: 90%;
    height: 8vh;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 40px;

    background-color: rgb(30,40,45);

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, #785A28, #C89B3C) 1;
    border-radius: 1px;
    padding-left: 20px;
}

.champion img {
    height: 80%;
}

.champion p {
    font-size: 25px;
}


.lanes {
    display: flex;
    column-gap: 10px;
}


.lanes button {
    background-image: linear-gradient(to top, rgb(3, 151, 171),rgb(30,40,45));
    border-width: 1px;
    border-style: solid;

    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    width: 150px;

    border-color: rgb(10, 200, 185);

    transition: 0.3s;

    border-radius: 4px;
}

.lanes button:hover {
    scale: 1.04;
}

.lanes button.is-checked {
    border-color: rgb(205, 250, 250);
    box-shadow: 0 0 15px rgb(205, 250, 250);
    background-image: linear-gradient(to top, rgb(10, 200, 185),rgb(3, 151, 171),rgb(30,40,45));
}

.lanes button::first-letter {
    text-transform: uppercase;
}


@media screen and (max-width: 1250px) {
    .wheel {
        width: 40vh;
    }
}

@media screen and (max-width: 480px) {
    .random-page {
        row-gap: 20px;
        width: 100vw;
    }
    .logo {
        width: 300px;
    }

    .wheel {
        width: 70vw;
        height: 30vh;
    }

    .cursor {
        width: 60px;
    }

    .champion {
        width: 85%;
    }

    .champion img {
        height: 80%;
    }
    
    .champion p {
        font-size: 20px;
    }

    .lanes {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        row-gap: 5px;
        column-gap: 5px;
    }

    .buttons {
        margin-top: 10px;
        column-gap: 20px;
    }
}